   {% extends 'main/base.html' %}

   {% block content %}
    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Amazon price alert</h1>
          <p class="lead text-muted">Paste the link/Url below</p>
          <!-- Search form -->
     <form method="POST">
          	{% csrf_token %}
            <input class="form-control" name="url" type="text" placeholder="Search" aria-label="Search">
<br>
          <p >
        <input class="btn btn-primary my-2" type="submit" name="showprice" value="Get results"></input>
          </p>
	</form>
	   
	{% if context.url %} 

		<h4>Product Name : {{context.title}}</h4>
		<h4>Product Price : {{context.price}}</h4>
		<h4>Current Price date: {{context.nowdate}}</h4>
    <h4>Do you want save data and get update when price drop! Please fill below form</h4>
	{% else %}
		<h4>{{context.data}}</h4>
	{% endif%} 


        </div>
      </section>
   
     

    </main>
{% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   